<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method="POST" action="">
    <input class="form-control mr-sm-2" name="username" type="text" placeholder="username" aria-label="username">
    <input class="form-control mr-sm-2" name="password" type="text" placeholder="password" aria-label="password">
    <input class="form-control mr-sm-2" name="phone" type="text" placeholder="phone" aria-label="phone">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
  </form>
</nav>
  <form class="login" action="login">
    <button formaction="login">Login here</button>
  </form>